$margin1: 32px;
$margin2: 16px;

$colorYellow: #FFE600;
$colorBlack: #333333;
$colorSemiBlack:#666666;
$colorGrayBlack: #999999;
$colorGrayLight: #EEEEEE;
$colorBlue: #3483FA;
$colorWhite: #FFFFFF;

$fontSizeExtraSmall: 14px;
$fontSizeExtraSmall12: 12px;
$fontSizeSmall: 16px;
$fontSizeSmall-2: 18px;
$fontSizeMedium: 24px;
$fontSizeLarge: 28px;
$fontSizeExtraLarge: 46px;

$heightHeader: 55px;
$heightItemSearch: 180px;
$fullWidth: 100%;